.App{
  height: 100%;
  width: 100%;
  position: absolute;
}

.dashBoard {
  display:flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 1.5%;
}

.upLinks{
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-family: 'Trebuchet MS', sans-serif;
  opacity: 0.8;
}
.upLinks:hover{
  opacity: 0.4;
}

.main{
  height: 80%;
  width: 100%;
  display: flex;
  position: absolute;
  top: 10%
}

.child{
  height: 100%;
  float: left;
  padding: 20px;
}

#toolbar.child{
  width: 35%;
  display: -moz-inline-grid;

}

#display.child{
  width: 65%;
}

.simpleInput{
  padding: 0;
  margin: 0;
  height: 65%;
  margin-bottom: 5px;
  width: 100%;
}

.simpleButton{
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
}

