.App{
  height: 95%;
  width: 100%;
  position: absolute;
}

.dashBoard {
  display:flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 1.5%;
}

.upLinks{
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-family: 'Trebuchet MS', sans-serif;
  opacity: 0.8;
}
.upLinks:hover{
  opacity: 0.4;
}


