.fillableForm{
    display:grid;
    position:absolute;
    top: 18%;
    height: 70%;
    width: 27%;
    align-content: center;
    margin:auto;
    left: 37%;
    font-family: 'Trebuchet MS', sans-serif;;
    background: white;
    border-radius: 10%;
    opacity: 0.9;
    text-align: center;
    color: black;
}

.credentials{
    display: flexbox;
    align-content: center;
    text-align: center;
    margin-bottom: 10px;
}

label{
    color: black;
}

input{
    width: 80%;
    height: 25px;
    border: 0;
    background: lightgrey;
    margin:3%
}

input::placeholder{
    margin-left: 10px;
}
.confirmation{
    display: flexbox;
    align-content: center;
    text-align: center;
}
button{
    width: 60%;
    height: 30px;
    border: 0;
    background: rgba(61, 54, 54, 0.61);
    margin-top: 20px;
}
button:hover{
    background: lightyellow
}

.confirmationButton{
    margin: 0;
}
